*.orig$
*.rej$
*~
.project

nbproject
target
.idea
*.iml
config.h
config.log
config.lt
config.status
libtool
.settings
.classpath


ar-lib
autom4te.cache
depcomp
stamp-h1
.deps
.libs

Makefile

*.o
*.lo
*.la
